@page "/administration"

<h3>Администрирование</h3>

<br />

<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="/administration/User">Пользователи</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="/administration/Role">Роли</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="/administration/MesDepartment">Производства</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="/administration/Settings">Настройки</a>

@code {

}
