@using Microsoft.AspNetCore.Components.Web
@namespace DictionaryManagement_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/css/toastr/toastr.css" rel="stylesheet" />
    <link href="DictionaryManagement_Server.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Это приложение больше не будет отвечать пока не будет перезагружено.
        </environment>
        <environment include="Development">
            Произошло не отслеживаемое исключение. Смотрите инструменты разработчика в браузере для подробностей.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/toastr/toastr.js"></script>
    <script src="/js/common.js"></script>
</body>
</html>
